.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}
.logo-text{
    width:200px;
}
.bi{
    margin-right: 10px;
    font-size: large;
    font-family: bold;
}
.story{
    height: 80px;
    padding: 20px;
}
.post
{   
    width:90%;
}
.suggestion h6{
    font-size:24px;
} 
.suggestion.dp{
    margin-top: 0px !important;
}
.gradient-border{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center; 
    border-radius:50%;
    background:linear-gradient(45deg, #f09433, #e6683c);
}
.story-db
{
    width: 50px;
}